<div *ngIf='cart.cartItems.length'>
  <h2>Your Cart Contains:</h2>
  <hr/>
  <app-cart-list [cartItems]='cart.cartItems' (onUpdateQuantity)='updateQuantity($event)' (onItemRemove)='remove($event)'></app-cart-list>
  <hr/>
  <h3>
    <span>YOUR CART TOTAL IS: {{cart.totalPrice | currency: 'EUR':'symbol':'':'fr'}}</span>
    <span> | </span>
    <span>ITEMS IN CART: {{cart.totalQuantity}}</span>
    <span> | </span>
    <br/>
    <span>LAST UPDATED: {{cart.lastUpdated | date:'shortDate':'':'fr'}}</span>
    <span> | </span>
    <button (click)='clearCart()'>CLEAR CART</button>
  </h3>
  <hr/>
</div>