<h2>Stock</h2>
<hr/>
<button (click)='doAddNew()'>ADD NEW PRODUCT</button>
<hr/>
<app-product *ngFor='let book of productService.getBooks() | async' [book]='book'>
  <div additional-info>
    <div>
      <b>Stock:</b>
      <span>{{book.stock}}</span>
    </div>
  </div> 
    <div actions>
      <button (click)='stockService.reduceStock(book.sku, 1)' [disabled]='!book.stock'>Reduce Stock</button>
      <button (click)='stockService.addStock(book.sku, 1)'>Add Stock</button>
      <button (click)='edit(book.sku)'>EDIT</button>
    </div>
</app-product>